:root {
    --color1: #007acc;
    --color1-em: #3da6eb;
    --color2: #3e3e42;
    --color3: #2d2d30;
    --color4: #252526;
    --color5: #1e1e1e;
    --color-danger: rgb(209, 47, 47);
    --color-danger-em: rgb(216, 84, 84);

    color: white;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.button-container, .btn-container {
    display: flex; /* Use flexbox for the button container */
    align-items: center; /* Center buttons vertically */
    margin-left: auto; /* Push the button container to the right */
}

.btn {
    margin-right: 1vw; /* Space between buttons */
    padding: 10px 15px; /* Button padding */
    background-color: var(--color4); /* Button background color */
    border: 2px solid transparent; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: color 0.3s ease, background-color 0.3s ease, border 0.1s; /* Smooth transition for background color */
    color: var(--color1);
    box-sizing: border-box;
}

.btn:active {
    border: inset 2px;
}

.btn-1 {
    background-color: var(--color1);
    color: white;
}

.btn-danger {
    background-color: var(--color-danger);
    color: white;
}

.btn-1:hover, .btn-1:active {
    background-color: var(--color1-em);
    color: white; /* Change text color on hover (optional) */
}

.btn-danger:hover, .btn-danger:active {
    background-color: var(--color-danger-em);
    color: white; /* Change text color on hover (optional) */
}

.btn-1-outline {
    background-color: transparent;
    border: 2.25px solid var(--color1);
}

.btn-1-outline:hover, .btn-1-outline:active {
    background-color: var(--color1);
    color: white;
}

h1, h2 {
    margin: 2px;
}